/* Move content down for fixed navbar */
body {
    margin-top: 50px;
}

h2 {
    /* Set Padding and margin to normalise scrollspy seek location */
    padding-top: 60px;
    margin-top: -60px;
}

.jumbotron {
    height: 100vh;
    background-color: #fff;
    /* image taken from https://picjumbo.com - no licence*/
    background-image: url("../imgs/jumbotron_img.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    background-size: cover;
}