/* Move content down for fixed navbar */
body {
    margin-top: 56px;
}

h2 {
    /* Set Padding and margin to normalise scrollspy seek location */
    /* *** DEACTIVATED SO STYLING WORK CAN BE DONE EASIER *** */
    /*padding-top: 60px;
    margin-top: -60px;*/
}

article {
    margin: 10px;
    padding: 20px;
}

input, textarea {
    height: 50px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

textarea {
    height: 120px;
    resize: none;
}

form .row:last-child input {
    margin-bottom: 0;
}

label {
    line-height: 50px
}

.landing {
    min-height: 100vh;
    background-color: #fff;
    /* image taken from https://picjumbo.com - no licence*/
    background-image: url("../imgs/jumbotron_img.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    background-size: cover;
}

.jumbotron {
    background-color: rgb(233, 236, 239);
    background-color: rgba(233, 236, 239, 0.6);
    border: 10px solid #28a745;
    border-style: none solid;
    position: relative;
    padding: 15px 32px;
    margin: 20px auto;
}

.round {
    border-radius: 50%;
}

.divider {
    width: 50%;
    text-align: center;
    border-color: #28a745;
}

.vert-center{
    display: flex;
    align-items: center;
}